*.d
*.elf
*.hex
Blinky/Blinky/Debug/Blinky.eep
*.lss
Blinky/Blinky/Debug/Blinky.map
Blinky/Blinky/Debug/makedep.mk
Blinky/Blinky/Debug/Blinky.o
Blinky/Blinky/Debug/Makefile
Blinky/Blinky/Debug/Blinky.srec
*.o
*.eep
*.map
*.mk
*.srec
RF24/TemperatureSender/TemperatureSender.atsuo
RF24/TemperatureSender/TemperatureSender/Debug/Makefile
RF24/TemperatureSender/TemperatureSender.atsuo